.p-img {
    max-width: 200px;
    max-height: 200px;
}

.tech {
    font-weight: bolder;
}

.projetinhos {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;

}